.content-signup {
  display: flex;
  flex-direction: row-reverse;
  
  > div {
    width: 50%;
  }

  .fundoinicial {
    background-image: url(../../../public/assets/images/inicial.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30%;
  }
  
  .signup-page {
    background-color: #282C34;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .signup-form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    h1 {
      color: #fff;
      font-size: 3.5rem;
      font-family: "Noto Sans", sans-serif;
      font-weight: 800;
      margin-bottom: 1.5rem;
    }
  
    input{
      margin-top: 0.5rem;
      padding: 0.75rem;
      border: 2px solid #fff;
      border-radius: 20px;
      width: 100%;
      font-family: "Noto Sans", sans-serif;
  
      &:focus {
        outline: none;
      }
    }
  
    button {
      width: 100%;
      max-width: 200px;
      background-color: #ABABAB;
      border: none;
      border-radius: 15px;
      padding: 0.75rem 1rem;
      font-size: 1rem;
      color: #fff;
      margin-top: 1rem;
      transition: color 0.3s ease;
      font-family: "Noto Sans", sans-serif;
      font-weight: 500;
      
      &:hover {
        background-color: hsl(0, 0%, 67%, 0.8);
      }

      &:active {
        background-color: hsl(0, 0%, 67%, 0.3);
      }
    }
  }
}

// Responsividade 

@media (max-width: 957px) {
  .content-signup {
    .signup-form {
      h1 {
        font-size: 2.5rem;
        margin: 15px;
      }
      input {
        padding: 0.45rem;
        width: 70%;
    }
      button {padding: 0.45rem 0.75rem;}
    }
  }
}