.page-cadastro {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;

  div {
    color: #fff;
    
    h1 {
      font-size: 70px;
      font-style: italic;
    }

    input {
      margin-top: 10px;
      padding: 5px 10px;
      border: 2px solid #fff;
      border-radius: 15px;
      width: 100%;
      max-width: 500px;
    }

    button {
      width: 100%;
      max-width: 150px;
      background-color: #ABABAB;
      border: 0px;
      border-radius: 15px;
      color: #fff;
      padding: 5px 15px;
      margin-top: 20px;
      transition: color 0.3s ease;

      &:hover {
        background-color: hsl(0, 0%, 67%, 0.8);
      }

      &:active {
        background-color: hsl(0, 0%, 67%, 0.3);
      }
    }
  }
}
