.vitrine {
    background-color: #282c34;
    align-items: center;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.icons {
    width: 20px;
    height: 20px;

    margin: 15px 0px 0px 10px;
 
}    

.secao2 {
    display: flex;
    justify-content: center;
    width: 2096;
    height: 638px;
    
    opacity: 0.5;

    div {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        opacity: 0.5;
    }
}


.secao3 {
    display: flex;
    justify-content: center;
    opacity: 0.5;
    margin: 150px 0px;

}

.secao4 > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px 280px;
    gap: 70px;
}

.secao4 {
    display: flex;
    justify-content: center;
}

.underline {
    text-decoration: none;
}