.page-header {
  display: flex;
  justify-content: space-between;
  background-color: #d9d9d9;
  width: 100%;

  div {
    padding: 15px 35px;
  }
}

.img-header,
.img-footer {
  width: 113px;
  height: 15.5px;
  margin-top: 18px;
}

.componentes {
  display: flex;
  flex-direction: row;
  gap: 30px;

  a {
    text-decoration: none;
    text-transform: 30px;
    color: #979797;
    font-weight: bold;
    font-style: italic;
    transition: color 0.3s easy;

    &:hover {
      color: #000;
    }

    p {
      font-family: "Noto Sans", sans-serif;
    }
  }
}

.icons-header {
  display: flex;

  a {
    color: #979797;
    transition: color 0.3s easy;

    &:hover {
      color: #000;
    }

    .custom-userIcon {
      font-size: 20px;
    }
  }
}

@media (max-width: 746px) {
  .page-header {
    justify-content: none;
    div {
      padding: 15px 20px;
      img {
        width: 70px;
        height: 13px;
      }
    }
  }
  .componentes {
    gap: 15px;
    a {
      font-size: 14px;
    }
  }
  .icons-header {
    
    padding: 0;
    > div {
      
      padding: 10px;

      a {
        .custom-userIcon {
          font-size: 15px;
        }
      }
    }
    
  }
}

@media (max-width: 725px) {
  .page-header {
    div {
      padding: 10;
    }
  }
}