.App {
  background-color: #282c34; // cor padrão de fundo

  // imagem
  display: flex;
  justify-content: center;
  align-items: center;
  

  
  .image-home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}