.page-criar {

  .container-criar {

    display: flex;
    flex-direction: row;
    gap: 200px;
    align-items: center;
    justify-content: center;
    height: 71.5vh;
    font-family: "Noto Sans", sans-serif;

    background-color: #dfdede;
    margin: 30px 200px;
    padding: 20px 56.5px;
    border-radius: 30px;
    
    .primeiraCaixa div {
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 600px;
      margin: 20px 50px;

      h2 {
        margin: 0;
        color: #979797;
      }

      input, select {
        margin-left: 10px;
        border: none;
        border-radius: 15px;
        width: 100%;
        max-width: 500px;
        padding: 8px 10px;

        &:focus {
          outline: none;
        }
      }

      select option {
        padding: 10px;
        font-size: 14px;
        color: #000;
        background-color: #fff;
        font-family: "Noto Sans", sans-serif;
      }

      select option:hover {
        background-color: #ddd;
      }

      .msg-desc {
        margin: 10px 0px 0px 10px;
        border-radius: 15px;
        border: none;
        width: 100%;
        max-width: 500px;
        height: 105px;
        resize: none; // nn deixar que o usuário mexa na caixa de mensagem
        padding: 5px 10px;
        font-family: "Noto Sans", sans-serif;
  
        &:focus {
          outline: none;
        }
      }

    }

    .segunda-caixa {
      display: flex;
      gap: 30px;

      div {

        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 15px;
        .img-preview {
          max-width: 300px;
          max-height: 300px;
          border: 2px solid #ccc;
          border-radius: 10px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

      }
      
      button, label{
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        font-style: italic;
        border: 0px;
        border-radius: 15px;
        padding: 15px;
        color: #fff;
        background-color: hsl(0, 0%, 67%, 0.6);
        transition: background-color 0.3s ease;
    
          &:hover {
            background-color: hsl(0, 0%, 67%, 0.4);
          }
    
          &:active {
            background-color: hsl(0, 0%, 67%, 0.2);
          }
        }
    }
  }
}
