.page-criar {

  .container-criar {

    display: flex;
    flex-direction: row;
    gap: 200px;
    align-items: center;
    height: 71.5vh;

    background-color: #ededed;
    margin: 30px 200px;
    padding: 20px 56.5px;
    border-radius: 30px;
    
    .primeiraCaixa div {
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 600px;
      margin: 20px 50px;

      h2 {
        margin: 0;
        color: #979797;
      }

      input {
        margin: 0px 0px 0px 10px;
        border: 0px;
        border-radius: 15px;
        width: 100%;
        max-width: 500px;
        padding: 5px 10px;
      }

    }

    .segunda-caixa {
      display: flex;
      gap: 30px;
      
      button, label{
        text-align: center;
        width: 100%;
        font-size: 20px;
        font-weight: 600;
        font-style: italic;
        border: 0px;
        border-radius: 15px;
        padding: 15px;
        color: #fff;
        background-color: hsl(0, 0%, 67%, 0.6);
        transition: background-color 0.3s ease;
    
          &:hover {
            background-color: hsl(0, 0%, 67%, 0.4);
          }
    
          &:active {
            background-color: hsl(0, 0%, 67%, 0.2);
          }
        }
    }
  }
}