.section-adm {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('./logo-home.png');
  background-repeat: no-repeat;
  background-size: cover;

  h1 {
    color: #fff;
    font-size: 70px;
    font-style: italic;
    margin: 0;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 550px;
    padding: 15px;
    font-size: 40px;
    font-weight: 600;
    font-style: italic;
    background-color: hsl(0, 0%, 67%, 0.6);
    border: 0px;
    border-radius: 15px;
    color: #fff;
    margin-top: 20px;
    transition: background-color 0.3s ease;

      &:hover {
        background-color: hsl(0, 0%, 67%, 0.4);
      }

      &:active {
        background-color: hsl(0, 0%, 67%, 0.2);
      }
  }
}