.page-footer{
  display: flex;
  flex-direction: row;
  background-color: #D9D9D9;
  padding: 60px 100px;
  gap: 150px;

  > div {
    display: flex;
    flex-direction: column;

    div {
      display: flex;
      flex-direction: row;
      align-items: start;
      gap: 5px;

      a {
        color: #979797;
        transition: color 0.3s easy;

        &:hover {
          color: #000;
        }
      }
    }
  }


  footer {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-left: 90px;

    div {
      margin-right: 380px;

      p{
        font-family: "Noto Sans", sans-serif;
        margin: 0;
        color: #979797;
        font-weight: bold;
      }
    }

    a {
      font-family: "Noto Sans", sans-serif;
      text-decoration: none;
      color: #979797;
      transition: color 0.3s easy;

      &:hover{
        color: #000;
      }
    }
  }
}