.card  {
    .content{
        background-color: #D9D9D9;
        border-radius: 15px;
        
    }
    
    font-family: "Noto Sans", sans-serif;
    color: #979797;
    transform: color 0.3s easy;

    &:hover {
        h1 {
          color: #000;
        }
    
        span {
          color: #000;
        }
      }

    img {
        width: 270px;
        height: 241px;
        margin: 5px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }
    
    div {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100%;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        
    }
    
    h1 {
        font-size: 1.2rem;
        margin: 10px 0px 0px 5px;
    }
    
    span {
        font-size: 0.9rem;
        margin: 0px 0px 5px 5px;   
    }
}

// Responsividade

@media (max-width: 1330px) {
    .card {
        img {width: 230px; height: 190px;}
    }
}

@media (max-width: 991px) {
    .card {
        img {
            width: 190px;
            height: 161px;
        }
        h1 {font-size: 0.9rem;}
        span {font-size: 0.7rem;}
    }
}

@media (max-width: 768px) {
    .card {
        img {
            width: 170px;
            height: 141px;
        }
        h1 {font-size: 0.7rem;}
        span {font-size: 0.5rem;}
    }
}